{{#each @properties as |prop|}}
  <LocalVariable @default={{is-equal prop @sort}} as |active|>
    <span role="button" onClick={{action @sortAction prop}} class={{concat "sort px-4 " (if active "text-grey-dark" "text-underline text-grey")}}>
      {{prop}}
      {{#if active}}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" class="h-3 w-3 fill-current">
          <path d="M 0 0 L 10 0, 5 10, 0 0" />
        </svg>
      {{/if}}
    </span>
  </LocalVariable>
{{/each}}
