/**
 * You can create new utilities here.
 *
 * Feel free to rename this file, define multiple utilities here, or make
 * any other files in this directory.

 * Here's an example:
**/

/* .skew-45 {
  transform: skewY(45deg);
} */

.limit-width {
  max-width: 1984px;
  margin: 0 auto;
}

.readable-width {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
