/**
 * You can create new utilities here.
 *
 * Feel free to rename this file, define multiple utilities here, or make
 * any other files in this directory.

 * Here's an example:
**/

/* .skew-45 {
  transform: skewY(45deg);
} */

.limit-width {
  max-width: 1984px;
  margin: 0 auto;
}

.readable-width {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}


.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-primary {
  @apply bg-green-lighter text-green;
}
.btn-primary:hover {
  @apply bg-green text-white;
}

.btn-secondary {
  @apply bg-grey-lighter text-grey;
}
.btn-secondary:hover {
  @apply bg-grey text-grey-darkest;
}

.btn-no {
  @apply bg-orange-lighter text-grey;
}
.btn-no:hover {
  @apply bg-orange text-white;
}

.btn-alarm {
  @apply bg-red-lighter text-red;
}

.btn-alarm:hover {
  @apply bg-red text-white;
}

.input-label {
  @apply mx-2;
}

.input-value {
  @apply mx-2 bg-white border rounded-lg py-2 px-4 block w-full appearance-none leading-normal;
}

.input-value:focus {
  @apply shadow-outline;
}
