.card-array-card {
    /* p-x2 p-y4 */
    @apply block px-2 py-4 m-0 border border-l-0 border-r-0 border-grey-light;
    margin-top: -0.5px;
    margin-bottom: -1px;

    transition: all 0.25s ease-in-out;
}

.card-array-card.raised {
    @apply border-0 -mt-1 mb-1 mx-0 border-0 shadow bg-grey-lightest;
    border-color: rgba(0,0,0,0);
}

.card-array-card.raised + .card-array-card {
    border-color: rgba( 0,0,0,0 );
}

.card-array-card.raised + .card-array-card.raised {
    @apply mt-2;
}

.card-array-card {
    @apply bg-grey-lighter;
}
.card-array-card .card-array-card {
    @apply bg-grey-lightest;
}

.card-array-card.raised .card-array-card.raised {
    @apply bg-grey-lighter;
}

.card-array-card.raised .card-array-card.raised .card-array-card.raised {
    @apply bg-grey-lightest;
}

.card-array-card.raised .card-array-card.raised .card-array-card.raised .card-array-card.raised {
    @apply bg-grey-lighter;
}

.card-array-card.raised .card-array-card.raised .card-array-card.raised .card-array-card.raised .card-array-card.raised {
    @apply bg-grey-lightest;
}
