<div class="limit-width">
  <Navbar as |nav|>
    {{link-to "Product Groups" "product-groups" class=nav.styleClass}}
    {{link-to "Examples" "index" class=nav.styleClass}}
    {{link-to "Blog" "index" class=nav.styleClass}}
  </Navbar>

  {{outlet}}
</div>

