<AnimatedTools />
<div class="limit-width">
  <Navbar as |nav|>
    <LinkTo @route="product-groups" class={{nav.styleClass}}>Product Groups</LinkTo>
    <LinkTo @route="index" class={{nav.styleClass}}>Examples</LinkTo>
    <LinkTo @route="index" class={{nav.styleClass}}>Blog</LinkTo>
  </Navbar>

  {{outlet}}
</div>

