<div class="card-view readable-width my-8 pt-4 pb-6 px-4 bg-grey-lighter">
  <h1 class="mt-2 mb-2">Hello product groups</h1>
  <p class="mt-2 mb-2">
    Nam libero justo, laoreet sit amet cursus sit amet, dictum sit amet justo? Dolor sit amet, consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula?
  </p>
  <p class="mt-2 mb-2">
    Blandit libero volutpat sed cras ornare arcu dui vivamus arcu felis, bibendum ut tristique et, egestas quis ipsum suspendisse ultrices gravida dictum fusce. Arcu, bibendum at varius vel, pharetra vel.
  </p>
  <p class="mt-2 mb-2">
    Amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed? Cum sociis natoque penatibus et magnis dis parturient montes, nascetur!
  </p>
  <p class="mt-2 mb-2">You can configure the product groups here.</p>
  
</div>

<div class="card-view readable-width my-8 pt-4 pb-6 px-4 bg-grey-lighter">
  <h1 class="mt-2 mb-2">Hello product groups</h1>
  <p class="mt-2 mb-2">
    Nam libero justo, laoreet sit amet cursus sit amet, dictum sit amet justo? Dolor sit amet, consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula?
  </p>
  <p class="mt-2 mb-2">
    Blandit libero volutpat sed cras ornare arcu dui vivamus arcu felis, bibendum ut tristique et, egestas quis ipsum suspendisse ultrices gravida dictum fusce. Arcu, bibendum at varius vel, pharetra vel.
  </p>
  <p class="mt-2 mb-2">
    Amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed? Cum sociis natoque penatibus et magnis dis parturient montes, nascetur!
  </p>
  <p class="mt-2 mb-2">You can configure the product groups here.</p>
  
</div>


{{outlet}}
